/* -------------------- IMPORTED FONTS -------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/*-------------------- CSS REST ---------------------------------------------------*/

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

H1, H2 {
    font-family: Kavoon;
    color: #ffffff;
}

H1 {
    font-size: 3em;
    text-align: center;
}

h1, .unlock {
    color: #ffffff;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

header {
    background-color: #6B8FE7;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}
.grid-container {
    column-gap: 50px;
    row-gap: 50px;
    gap: 50px 100px;
    padding: 25px;
}

.unlock {
    background-color: #D9526F;
}

NAV H2 {
    font-size: 1.5em;
}

ul {
    background-color: #E9BB57;
    color: #1E1E1E;
    list-style-type: none;
    display: block;
}

a:hover {
    color: #ffffff;
}

H2 {
    font-size: 2em;
}

H3 {
    font-size: 1.5em;
    color: #E9BB57; 
}

H4 {
    font-size: 1.15em;
}

div {
    background-color: #ffffff;
}

.choose {
    background-color: #D9526F;
}

table, th, td {
    border: 1px solid #E9BB57;
}

th {
    background-color: #E9BB57;
    color: #1E1E1E;
    padding: 25px;
}

td {
    background-color: #ffffff;
    color: #1E1E1E;
    padding: 25px;
}

.step {
    color:#ffffff;
    background-color: #D9526F;
}

footer {
    background-color: #6B8FE7;
}

/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    font-family: Inter;
    background-color: #484FB7;
}

/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/

@media screen and (min-width: 450px){

}

/*-------------------- MEDIA QUERY (medium) --------------------------------*/

@media screen and (min-width: 620px){
    
}

/*-------------------- MEDIA QUERY (large) ------------------------------------*/

@media screen and (min-width: 950px){
    
}

/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/

@media screen and (min-width: 1280px){
    .one {
        grid-column: 1;
        grid-row: 1;
    }

    .group {
        grid-column: 2;
        grid-row: 1;
    }

    .workshops {
        grid-column: 1;
        grid-row: 3;
    }

    .online {
        grid-column: 1;
        grid-row: 4;
    }

    .approach {
        grid-column: 1;
        grid-row: 1;
        background-color: #4CA7C0;
        color:#1E1E1E;
        height: 50px;
        width: 100px;
        padding: 25px;
        border-radius: 20%;
    }

    .proven {
        grid-column: 2;
        grid-row: 1;
        background-color: #484FB7;
        color:#1E1E1E;
        height: 50px;
        width: 100px;
        padding: 25px;
        border-radius: 20%;
    }

    .supportive {
        grid-column: 3;
        grid-row: 1;
        background-color: #E9BB57;
        color:#1E1E1E;
        height: 50px;
        width: 100px;
        padding: 25px;
        border-radius: 20%;
    }

    .flexible {
        grid-column: 4;
        grid-row: 1;
        background-color: #ffffff;
        color:#1E1E1E;
        height: 50px;
        width: 100px;
        padding: 25px;
        border-radius: 20%;
    }
    .onecoach {
        grid-column: 1;
        grid-row: 1;
    }
    .groupcoach {
        grid-column: 2;
        grid-row: 1;
    }
    .copy {
        grid-column: 8;
    }
    .terms {
        grid-column: 16;
    }
}
